In [1]:
import polars as pl
from datetime import date

In [2]:
pl.__version__

'1.4.1'

In [3]:
!python --version

Python 3.12.1

In [4]:
series = pl.Series("age", [24,20,55,44,77,16])

In [5]:
series

shape: (6,)
Series: 'age' [i64]
[
	24
	20
	55
	44
	77
	16
]

In [6]:
series.max(), series.sum(), series.min()

(77, 236, 16)

In [7]:
dir(series)

['__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_arithmetic',
 '_comp',
 '_export_arrow_to_c',
 '_from_buffer',
 '_from_buffers',
 '_from_pyseries',
 '_get_buffer_info',
 '_get_buffers',
 '_import_arrow_from_c',
 '_import_from_c',
 '_newest_compat_level',
 '_repr_html_',
 '_s',
 'abs',
 'alias',
 'all',
 'any',
 'append',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctanh',
 'arg_max',
 'arg_min',
 'arg_sort',
 'arg_true',
 'arg_unique',
 'arr',
 'bin',
 'bottom_k',
 'cast',
 'cat',
 'cbrt',
 'ceil',
 'chunk_lengths',
 'clear',
 'clip',
 'clone',
 'cos',
 'cosh',
 'cot',
 'count',
 'cum_count',
 'cum_max',
 'cum_min',
 'cum_prod',
 'cum_sum',
 'cumulative_eval',
 'cut',
 'describe',
 'diff',
 'dot',
 'drop_nans',
 'drop_nulls',
 'dt',
 'dtype',
 'entropy',
 'eq',
 'eq_missing',
 'equals',
 'estimated_size',
 'ewm_mean',
 'ewm_mean_by',
 'ewm_std',
 'ewm_var',
 'exp',
 'explode',
 'extend',
 'extend_constant',
 'fill_nan',
 'fill_null',
 'filter',
 'flags',
 'floor',
 'gather',
 'gather_every',
 'ge',
 'get_chunks',
 'gt',
 'has_nulls',
 'has_validity',
 'hash',
 'head',
 'hist',
 'implode',
 'interpolate',
 'interpolate_by',
 'is_between',
 'is_duplicated',
 'is_empty',
 'is_finite',
 'is_first_distinct',
 'is_in',
 'is_infinite',
 'is_last_distinct',
 'is_nan',
 'is_not_nan',
 'is_not_null',
 'is_null',
 'is_sorted',
 'is_unique',
 'item',
 'kurtosis',
 'le',
 'len',
 'limit',
 'list',
 'log',
 'log10',
 'log1p',
 'lower_bound',
 'lt',
 'map_elements',
 'max',
 'mean',
 'median',
 'min',
 'mode',
 'n_chunks',
 'n_unique',
 'name',
 'nan_max',
 'nan_min',
 'ne',
 'ne_missing',
 'new_from_index',
 'not_',
 'null_count',
 'pct_change',
 'peak_max',
 'peak_min',
 'plot',
 'pow',
 'product',
 'qcut',
 'quantile',
 'rank',
 'rechunk',
 'reinterpret',
 'rename',
 'replace',
 'replace_strict',
 'reshape',
 'reverse',
 'rle',
 'rle_id',
 'rolling_map',
 'rolling_max',
 'rolling_mean',
 'rolling_median',
 'rolling_min',
 'rolling_quantile',
 'rolling_skew',
 'rolling_std',
 'rolling_sum',
 'rolling_var',
 'round',
 'round_sig_figs',
 'sample',
 'scatter',
 'search_sorted',
 'set',
 'set_sorted',
 'shape',
 'shift',
 'shrink_dtype',
 'shrink_to_fit',
 'shuffle',
 'sign',
 'sin',
 'sinh',
 'skew',
 'slice',
 'sort',
 'sqrt',
 'std',
 'str',
 'struct',
 'sum',
 'tail',
 'tan',
 'tanh',
 'to_arrow',
 'to_dummies',
 'to_frame',
 'to_init_repr',
 'to_jax',
 'to_list',
 'to_numpy',
 'to_pandas',
 'to_physical',
 'to_torch',
 'top_k',
 'unique',
 'unique_counts',
 'upper_bound',
 'value_counts',
 'var',
 'zip_with']

In [8]:
series.sort()

shape: (6,)
Series: 'age' [i64]
[
	16
	20
	24
	44
	55
	77
]

In [9]:
series.sort(descending=True)

shape: (6,)
Series: 'age' [i64]
[
	77
	55
	44
	24
	20
	16
]

In [10]:
series.to_pandas()

0    24
1    20
2    55
3    44
4    77
5    16
Name: age, dtype: int64

In [11]:
df = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [29,34,31,28,42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000., 75000., 60000., 58000., 85000.],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
    })

In [12]:
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [13]:
df.head(2)

shape: (2, 6)
┌─────────────┬───────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob   ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
└─────────────┴───────┴─────┴─────────────┴─────────┴────────────┘

In [14]:
df.sample(3)

shape: (3, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [15]:
df.describe()

shape: (9, 7)
┌────────────┬─────────────┬───────┬──────────┬─────────────┬──────────────┬─────────────────────┐
│ statistic  ┆ Employee ID ┆ Name  ┆ Age      ┆ Department  ┆ Salary       ┆ Start Date          │
│ ---        ┆ ---         ┆ ---   ┆ ---      ┆ ---         ┆ ---          ┆ ---                 │
│ str        ┆ f64         ┆ str   ┆ f64      ┆ str         ┆ f64          ┆ str                 │
╞════════════╪═════════════╪═══════╪══════════╪═════════════╪══════════════╪═════════════════════╡
│ count      ┆ 5.0         ┆ 5     ┆ 5.0      ┆ 5           ┆ 5.0          ┆ 5                   │
│ null_count ┆ 0.0         ┆ 0     ┆ 0.0      ┆ 0           ┆ 0.0          ┆ 0                   │
│ mean       ┆ 3.0         ┆ null  ┆ 32.8     ┆ null        ┆ 65600.0      ┆ 2021-01-26 00:00:00 │
│ std        ┆ 1.581139    ┆ null  ┆ 5.630275 ┆ null        ┆ 14117.365193 ┆ null                │
│ min        ┆ 1.0         ┆ Alice ┆ 28.0     ┆ Engineering ┆ 50000.0      ┆ 2018-11-03          │
│ 25%        ┆ 2.0         ┆ null  ┆ 29.0     ┆ null        ┆ 58000.0      ┆ 2019-08-14          │
│ 50%        ┆ 3.0         ┆ null  ┆ 31.0     ┆ null        ┆ 60000.0      ┆ 2021-01-10          │
│ 75%        ┆ 4.0         ┆ null  ┆ 34.0     ┆ null        ┆ 75000.0      ┆ 2022-06-27          │
│ max        ┆ 5.0         ┆ Eve   ┆ 42.0     ┆ HR          ┆ 85000.0      ┆ 2023-05-21          │
└────────────┴─────────────┴───────┴──────────┴─────────────┴──────────────┴─────────────────────┘

In [16]:
df.schema

Schema([('Employee ID', Int64),
        ('Name', String),
        ('Age', Int64),
        ('Department', String),
        ('Salary', Float64),
        ('Start Date', Date)])

In [17]:
df_selected = df.select(["Name", "Age"])

In [18]:
df_selected

shape: (5, 2)
┌─────────┬─────┐
│ Name    ┆ Age │
│ ---     ┆ --- │
│ str     ┆ i64 │
╞═════════╪═════╡
│ Alice   ┆ 29  │
│ Bob     ┆ 34  │
│ Charlie ┆ 31  │
│ David   ┆ 28  │
│ Eve     ┆ 42  │
└─────────┴─────┘

In [19]:
df["Name", "Age", "Salary"]

shape: (5, 3)
┌─────────┬─────┬─────────┐
│ Name    ┆ Age ┆ Salary  │
│ ---     ┆ --- ┆ ---     │
│ str     ┆ i64 ┆ f64     │
╞═════════╪═════╪═════════╡
│ Alice   ┆ 29  ┆ 50000.0 │
│ Bob     ┆ 34  ┆ 75000.0 │
│ Charlie ┆ 31  ┆ 60000.0 │
│ David   ┆ 28  ┆ 58000.0 │
│ Eve     ┆ 42  ┆ 85000.0 │
└─────────┴─────┴─────────┘

In [20]:
#Empleados que tienen más de 30 años
df.filter(pl.col("Age") > 30)

shape: (3, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [21]:
df.filter(pl.col("Department") ==  "Finance")

shape: (2, 6)
┌─────────────┬─────────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪════════════╪═════════╪════════════╡
│ 3           ┆ Charlie ┆ 31  ┆ Finance    ┆ 60000.0 ┆ 2021-01-10 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴────────────┴─────────┴────────────┘

In [22]:
df.filter(pl.col("Department") !=  "Finance")

shape: (3, 6)
┌─────────────┬───────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob   ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 4           ┆ David ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
└─────────────┴───────┴─────┴─────────────┴─────────┴────────────┘

In [23]:
df.filter(pl.col("Department") ==  "Finance", pl.col("Salary") > 62000)

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬─────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary  ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---     ┆ ---        │
│ i64         ┆ str  ┆ i64 ┆ str        ┆ f64     ┆ date       │
╞═════════════╪══════╪═════╪════════════╪═════════╪════════════╡
│ 5           ┆ Eve  ┆ 42  ┆ Finance    ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴──────┴─────┴────────────┴─────────┴────────────┘

In [24]:
# Calculemos sueldo mensual
df.with_columns((pl.col("Salary") /12).alias("Monthly Salary"))

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Salary │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---            │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64            │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.666667    │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0         │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0         │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.333333    │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.333333    │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴────────────────┘

In [25]:
# Calculemos sueldo mensual redondeado
df.with_columns((pl.col("Salary") / 12).round(1).alias("Monthly Salary"))

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Salary │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---            │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64            │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.7         │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0         │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0         │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.3         │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.3         │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴────────────────┘

In [26]:
# Esto no cambia el df
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [27]:
df = df.with_columns((pl.col("Salary") / 12).round(1).alias("Monthly Salary"))
df

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Salary │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---            │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64            │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.7         │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0         │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0         │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.3         │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.3         │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴────────────────┘

In [28]:
# Borremos esa columna
df.drop("Monthly Salary")

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [29]:
# No es inplace 
df

shape: (5, 7)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┬────────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date ┆ Monthly Salary │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        ┆ ---            │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       ┆ f64            │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╪════════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 ┆ 4166.7         │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 ┆ 6250.0         │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 ┆ 5000.0         │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 ┆ 4833.3         │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 ┆ 7083.3         │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┴────────────────┘

In [30]:
df = df.drop("Monthly Salary")

In [31]:
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [32]:
df.sort("Salary")

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [33]:
df.sort("Start Date", descending=True)

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 60000.0 ┆ 2021-01-10 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 58000.0 ┆ 2018-11-03 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [34]:
df["Salary"].max()

85000.0

In [35]:
df["Age"].median()

31.0

In [36]:
df.filter(pl.col("Age") > 30)["Salary"].max()

85000.0

In [37]:
type(df.filter(pl.col("Age") > 30)["Salary"].max())

float

In [38]:
df.group_by("Department")

In [39]:
df.group_by("Department").agg(
    [pl.col("Salary").mean().alias("Avg. Salary")]
)

shape: (3, 2)
┌─────────────┬─────────────┐
│ Department  ┆ Avg. Salary │
│ ---         ┆ ---         │
│ str         ┆ f64         │
╞═════════════╪═════════════╡
│ Finance     ┆ 72500.0     │
│ Engineering ┆ 75000.0     │
│ HR          ┆ 54000.0     │
└─────────────┴─────────────┘

In [40]:
df.group_by("Department").agg([
    pl.col("Salary").mean().alias("Avg. Salary"),
    pl.col("Salary").max().alias("Max Salary")
]
)

shape: (3, 3)
┌─────────────┬─────────────┬────────────┐
│ Department  ┆ Avg. Salary ┆ Max Salary │
│ ---         ┆ ---         ┆ ---        │
│ str         ┆ f64         ┆ f64        │
╞═════════════╪═════════════╪════════════╡
│ Engineering ┆ 75000.0     ┆ 75000.0    │
│ Finance     ┆ 72500.0     ┆ 85000.0    │
│ HR          ┆ 54000.0     ┆ 58000.0    │
└─────────────┴─────────────┴────────────┘

In [41]:
df.group_by("Department").agg([
    pl.col("Salary").mean().alias("Avg. Salary"),
    pl.col("Age").min().alias("Youngest Age")
]
)

shape: (3, 3)
┌─────────────┬─────────────┬──────────────┐
│ Department  ┆ Avg. Salary ┆ Youngest Age │
│ ---         ┆ ---         ┆ ---          │
│ str         ┆ f64         ┆ i64          │
╞═════════════╪═════════════╪══════════════╡
│ Engineering ┆ 75000.0     ┆ 34           │
│ Finance     ┆ 72500.0     ┆ 31           │
│ HR          ┆ 54000.0     ┆ 28           │
└─────────────┴─────────────┴──────────────┘

In [42]:
df = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [29,34,31,28,42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000., 75000., None, None, 85000.],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
    })

In [43]:
df

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ null    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ null    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [44]:
df.null_count()

shape: (1, 6)
┌─────────────┬──────┬─────┬────────────┬────────┬────────────┐
│ Employee ID ┆ Name ┆ Age ┆ Department ┆ Salary ┆ Start Date │
│ ---         ┆ ---  ┆ --- ┆ ---        ┆ ---    ┆ ---        │
│ u32         ┆ u32  ┆ u32 ┆ u32        ┆ u32    ┆ u32        │
╞═════════════╪══════╪═════╪════════════╪════════╪════════════╡
│ 0           ┆ 0    ┆ 0   ┆ 0          ┆ 2      ┆ 0          │
└─────────────┴──────┴─────┴────────────┴────────┴────────────┘

In [45]:
df.select(pl.col("Salary").is_null())

shape: (5, 1)
┌────────┐
│ Salary │
│ ---    │
│ bool   │
╞════════╡
│ false  │
│ false  │
│ true   │
│ true   │
│ false  │
└────────┘

In [46]:
df.filter(pl.col("Salary").is_null())

shape: (2, 6)
┌─────────────┬─────────┬─────┬────────────┬────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department ┆ Salary ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---        ┆ ---    ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str        ┆ f64    ┆ date       │
╞═════════════╪═════════╪═════╪════════════╪════════╪════════════╡
│ 3           ┆ Charlie ┆ 31  ┆ Finance    ┆ null   ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR         ┆ null   ┆ 2018-11-03 │
└─────────────┴─────────┴─────┴────────────┴────────┴────────────┘

In [47]:
df.filter(pl.col("Salary").is_not_null())

shape: (3, 6)
┌─────────────┬───────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name  ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---   ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str   ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═══════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob   ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 5           ┆ Eve   ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴───────┴─────┴─────────────┴─────────┴────────────┘

In [48]:
df.with_columns(pl.col("Salary").fill_null(pl.lit(50)))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 50.0    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 50.0    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [49]:
df.with_columns(pl.col("Salary").fill_null(50))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 50.0    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 50.0    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [50]:
df.with_columns(pl.col("Salary").fill_null(strategy="forward"))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 75000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 75000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [51]:
df.with_columns(pl.col("Salary").fill_null(strategy="backward"))

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 85000.0 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 85000.0 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [52]:
df.with_columns(pl.col("Salary").interpolate())

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬──────────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary       ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---          ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64          ┆ date       │
╞═════════════╪═════════╪═════╪═════════════╪══════════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0      ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0      ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ 78333.333333 ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ 81666.666667 ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0      ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴──────────────┴────────────┘

In [53]:
df.write_csv("employees.csv")
df.write_json("employees.json")

In [54]:
df2= pl.read_csv("employees.csv")
df2 #ojo que start date ahora es string

shape: (5, 6)
┌─────────────┬─────────┬─────┬─────────────┬─────────┬────────────┐
│ Employee ID ┆ Name    ┆ Age ┆ Department  ┆ Salary  ┆ Start Date │
│ ---         ┆ ---     ┆ --- ┆ ---         ┆ ---     ┆ ---        │
│ i64         ┆ str     ┆ i64 ┆ str         ┆ f64     ┆ str        │
╞═════════════╪═════════╪═════╪═════════════╪═════════╪════════════╡
│ 1           ┆ Alice   ┆ 29  ┆ HR          ┆ 50000.0 ┆ 2023-05-21 │
│ 2           ┆ Bob     ┆ 34  ┆ Engineering ┆ 75000.0 ┆ 2019-08-14 │
│ 3           ┆ Charlie ┆ 31  ┆ Finance     ┆ null    ┆ 2021-01-10 │
│ 4           ┆ David   ┆ 28  ┆ HR          ┆ null    ┆ 2018-11-03 │
│ 5           ┆ Eve     ┆ 42  ┆ Finance     ┆ 85000.0 ┆ 2022-06-27 │
└─────────────┴─────────┴─────┴─────────────┴─────────┴────────────┘

In [58]:
df["Age"].plot.bar()

:Bars   [index]   (Age)

In [59]:
df = pl.DataFrame({
    "Employee ID": [1,2,3,4,5],
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [29,34,31,28,42],
    "Department": ["HR", "Engineering", "Finance", "HR", "Finance"],
    "Salary": [50000., 75000., 60000., 58000., 85000.],
    "Start Date": [date(2023,5,21), date(2019,8,14), date(2021,1,10), date(2018,11,3), date(2022,6,27)]
    })

In [61]:
df.plot.scatter(x="Age", y="Salary", by="Name")

:NdOverlay   [Name]
   :Scatter   [Age]   (Salary)